$block: '.article';

#{$block}__meta {
  display: block;
}

#{$block}__meta--date {
  font-weight: 700;
  text-align: center;
}

#{$block}__meta--tags {
  text-align: center;
}

#{$block}__comments {
  margin-top: 20px;
}

#{$block}__archive {
  text-align: center;
  margin-top: 30px;

  a {
    @extend .button;
    @extend .button--small;
  }
}
