$block: '.clients';

#{$block}__container {
  text-align: center;
}

@include mq-large {
  #{$block}__container {
    display: flex;
  }
}

#{$block}__title {
  text-align: center;
}

#{$block}__item {
  padding: 20px;

  $subblock: '.client';

  #{$subblock}__link {
    border-width: 0;

    &:hover {
      border-width: 1px;
    }
  }
}
