$block: '.errors';

#{$block} {
  text-align: center;
  padding-bottom: 20px;
}

#{$block}__header {
  margin-bottom: 20px;
}

#{$block}__image {
  display: block;
  margin: 0 auto;
}

#{$block}__message {
  font-weight: 700;
}

#{$block}__feedback {
  padding-top: 20px;
}
