$block: '.home';

#{$block} {
  .avatar-wrapper {
    border-bottom: none;

    img {
      border-radius: 100%;
    }
  }
}

#{$block}__introduction {
  margin-top: 30px;

  .page__header {
    text-align: center;
  }
}

#{$block}__about {
  padding: 10px;
  margin-top: 10px;
  font-family: $font-family-monospace;
}

@include mq-large {
  #{$block}__about {
    position: relative;
    width: 200%;
    left: -50%;
    padding: 30px 0 10px;
    margin-top: 10px;
    transform: rotate(-1deg);
    background-color: $color-blue-grey--dark;
    color: $color-white;
    font-family: $font-family-monospace;
  }
}

#{$block}__contact {
  margin: 30px 0;

  $subblock: '.contact';

  #{$subblock}__items {
    @extend %grid-display-flex;

    #{$subblock}__item {
      @extend %grid-4-col;
      text-align: center;
    }

    #{$subblock}__link {
      border-bottom: none;
      color: $color-blue-grey--dark;
      transition: all .1s linear;

      .icon {
        font-size: 1.2rem;
      }

      &:hover {
        color: $color-blue-grey--dark;
      }
    }
  }
}

#{$block}__clients {
  position: relative;
  padding: 30px 0 10px;
  background-color: $color-grey--light;
}

#{$block}__latest-articles {
  margin: 60px 0;

  $subblock: '.latest-articles';

  #{$subblock}__title {
    text-align: left;
  }

  #{$subblock}__item {
    margin: 10px 0;

    .article__title {
      font-family: $font-family-monospace;
    }
  }
}
