$block: '.home';

#{$block} {
  .avatar-wrapper {
    border-bottom: none;

    img {
      border-radius: 100%;
    }
  }
}

#{$block}__introduction {
  margin-top: 30px;

  .page__header {
    text-align: center;
  }
}

#{$block}__about {
  padding: 20px;
  margin-top: 10px;
  font-family: $font-family-monospace;
  font-size: 1rem;
  background-color: $base-contrast-background-color;
  color: $color-white;

  @include dark-color-scheme {
    background-color: $base-contrast-background-color--dark;
  }
}

@include mq-large {
  #{$block}__about {
    position: relative;
    padding: 30px 0 10px;
    margin-top: 10px;
    transform: skewY(-1deg);
    font-size: 1.1rem;
  }
}

#{$block}__contact {
  margin: 30px 0;

  $subblock: '.contact';

  #{$subblock}__title {
    text-align: center;
  }

  #{$subblock}__items {
    @extend %grid-display-flex;

    #{$subblock}__item {
      @extend %grid-4-col;
      text-align: center;
    }

    #{$subblock}__link {
      border-bottom: none;
      color: $color-blue-grey--dark;
      transition: all .1s linear;

      .icon {
        font-size: 1.2rem;
      }

      &:hover {
        color: $color-blue-grey--dark;
      }

      @include dark-color-scheme {
        color: $color-blue-grey--light;

        &:hover {
          color: $color-blue-grey--light;
        }
      }
    }
  }
}

#{$block}__clients {
  position: relative;
  padding: 30px 0 10px;
  background-color: $color-grey--light;

  @include dark-color-scheme {
    background-color: $base-contrast-background-color--dark;
  }
}

#{$block}__latest-articles {
  margin: 60px 0;

  $subblock: '.latest-articles';

  #{$subblock}__title {
    text-align: left;
  }

  #{$subblock}__item {
    margin: 10px 0;

    .article__title {
      font-family: $font-family-monospace;
    }
  }
}
