$block: '.footer';

#{$block} {
  border-top: 1px solid $color-grey--light;
  padding: 20px 0;
  font-size: .9rem;
  text-align: center;
  color: $color-grey;

  a {
    color: $color-grey;
    border-bottom: none;

    &:hover {
      color: $color-green;
    }
  }

  @include dark-color-scheme {
    border-color: $color-grey--dark;
  }
}

#{$block}__about {
  margin-top: 20px;
}

@include mq-large {
  #{$block}__credits {
    float: left;
    text-align: left;
  }

  #{$block}__about {
    float: right;
    text-align: right;
    margin: 0;
  }
}
