$block: '.header';

#{$block}__home {
  .page__header {
    text-align: center;

    .page__heading {
      font-size: 1.5rem;
      font-weight: 700;
    }

    a {
      color: $color-blue-grey--dark;
    }
  }
}

#{$block}__archive {
  margin-top: 30px;

  a {
    @extend .button;
    @extend .button--small;
  }
}
