$block: '.header';

#{$block}__home {
  .page__header {
    text-align: center;

    .page__heading {
      font-size: 1.5rem;
      font-weight: 700;
    }

    a {
      color: $color-blue-grey--dark;
    }
  }
}

#{$block}__nav {
  text-align: center;
  margin-bottom: 30px;

  @extend %grid-display-flex;

  $subblock: '.nav';

  #{$subblock}__item {
    @extend %grid-3-col;
    font-size: 0.9rem;

    &.active {
      color: $color-blue-grey--dark;
      border-color: $color-blue-grey--dark;
    }
  }

  #{$subblock}__link {
    @extend .button;
    font-size: 0.9rem;
    width: 80%;

    &.active {
      color: $color-blue-grey--dark;
      border-color: $color-blue-grey--dark;
    }
  }
}

#{$block}__archive {
  margin-top: 30px;

  a {
    @extend .button;
    @extend .button--small;
  }
}
