$block: '.nav';

#{$block}__item {
  float: left;
  text-transform: uppercase;
  font-size: 14px;
  border-color: $color-green--dark;
  color: $color-green--dark;

  a {
    color: $color-blue-grey--dark;
    border-bottom: none;
    transition: all .1s linear;

    &:hover {
      color: $color-green;
    }
  }

  &#{$block}__contact {
    float: right;
  }
}
