$block: '.page';

#{$block} {
  h1 {
    text-align: center;
  }
}

#{$block}__header {
  margin-top: $base-spacing;
  margin-bottom: $base-spacing * 2;
}

#{$block}__heading {
  margin-bottom: $base-spacing * .5;

  text-align: center;

  a {
    font-size: 1rem;
  }
}

#{$block}__tagline {
  font-family: $font-family-sans-serif;
  color: $color-grey;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  width: 100%;
}

@include mq-large {
  #{$block}__header {
    text-align: left;
  }
}
