%section.top
  .palette.palette-clouds
    .container
      .row
        .span6
          - if locale
            .locale-select
              = draw_locale_select

        .span6
          = link_to contact_path do
            %span.fui-mail
            = I18n.t('layout.contact')
