!!! 5
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{:lang => "en"}
  <!--<![endif]-->
  %head
    = partial 'layouts/head'

  %body{:class => page_classes}
    #content
      .container
        .row= yield

    = partial 'layouts/footer'
    = partial 'layouts/analytics'
