---
title: desarrollador de software
---
      <article id="about">
        <h3>Soy <strong>desarrollador de software</strong>, <em>geek</em>, emprendedor y afortunado <em>Lead Developer</em> en <a href="http://aticoestudio.com" title="aticoestudio.com" class="org" rel="external">aticoestudio.com</a></h3>
        <br />
        <h4>Rendimiento, escalabilidad, interoperabilidad, estandarización y calidad del software son mis obsesiones. Huyo de la improductiva burocracia de las grandes consultoras y abrazo las metodologías de desarrollo ágil</h4>
      </article>

      <aside id="sidebar">
        <div id="avatar" class="border-radius sep-bottom">
          <figure>
          <img class="photo" src="<%= @config[:assets_url] %>/images/danguita.jpg" alt="<%= @config[:author] %>" />
          </figure>
        </div>
        <div class="social sep-bottom">
          <h2>Network</h2>
          Puedes encontrarme en
          <ul class="network inline">
            <li class="first-child"><a href="http://twitter.com/<%= @config[:uid][:twitter] %>" title="Sígueme en Twitter" rel="me external"><img src="<%= @config[:assets_url] %>/images/icons/komodomedia/twitter_32.png" alt="Twitter" width="32" height="32" /></a></li>
            <li><a href="http://facebook.com/<%= @config[:uid][:facebook] %>" title="Se mi amigo en Facebook" rel="me external"><img src="<%= @config[:assets_url] %>/images/icons/komodomedia/facebook_32.png" alt="Facebook" width="32" height="32" /></a></li>
            <li><a href="http://linkedin.com/in/<%= @config[:uid][:linkedin] %>" title="Lee mi perfil profesional en Linkedin" rel="me external"><img src="<%= @config[:assets_url] %>/images/icons/komodomedia/linkedin_32.png" alt="LinkedIn" width="32" height="32" /></a></li>
            <li class="list-child"><a href="http://delicious.com/<%= @config[:uid][:delicious] %>" title="Sigue mis bookmarks" rel="me external"><img src="<%= @config[:assets_url] %>/images/icons/komodomedia/delicious_32.png" alt="Delicious" width="32" height="32" /></a></li>
          </ul>
        </div>
        <div class="blog sep-bottom">
          Ocasionalmente escribo en <a href="http://blog.davidanguita.name" title="David Anguita – Blog">mi blog</a>
        </div>
      </aside>

      <article id="skills">
        <h2 class="icon power sep-bottom">Mi trabajo</h2>
        <ul class="formatted">
          <li class="first-child"><strong>Desarrollo web</strong></li>
          <li class="nested">Back-end &amp; Front-end</li>
          <li><strong>Frameworks MVC</strong></li>
          <li class="nested"><a href="http://cakephp.org" title="CakePHP">CakePHP</a>, <a href="http://rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a></li>
          <li>Ciclo completo de desarrollo</li>
          <li>Metodologías de desarrollo ágil</li>
          <li>Administración de sistemas</li>
          <li class="last-child">Consultoría IT</li>
        </ul>
      </article>

      <article id="likes">
        <h2 class="icon favorites sep-bottom">Mis gustos</h2>
        <ul class="tags">
          <li class="first-child">PHP</li>
          <li>Ruby</li>
          <li>Mac OS X</li>
          <li>vim</li>
          <li>HTML5</li>
          <li>Spotify</li>
          <li>Twitter</li>
          <li>git</li>
          <li>GNU/Linux</li>
          <li>CakePHP</li>
          <li>cron</li>
          <li>Python</li>
          <li>MooTools</li>
          <li>Rails</li>
          <li>nginx</li>
          <li>Xbox 360</li>
          <li>REST</li>
          <li>Japón</li>
          <li>NoSQL</li>
          <li>zsh</li>
          <li>github</li>
          <li>profiling</li>
          <li>UX</li>
          <li>MySQL</li>
          <li>jQuery</li>
          <li>escalabilidad</li>
          <li>127.0.0.1</li>
          <li class="highlighted">Soraya</li>
          <li>iPhone</li>
          <li class="last-child">VirtualBox</li>
        </ul>
      </article>
