---
title: software developer
---
      <article id="about">
        <h3>I'm a <strong>software developer</strong>, <em>geek</em>, entrepreneur and happy <em>Lead Developer</em> at <a href="http://aticoestudio.com" title="Ático, estudio gráfico S.L." class="org" rel="external">aticoestudio.com</a></h3>
      </article>

      <aside id="sidebar">
        <div id="avatar" class="border-radius sep-bottom">
          <figure>
          <img class="photo" src="<%= @config[:assets_url] %>/images/danguita.jpg" alt="<%= @config[:author] %>" />
          </figure>
        </div>
        <div class="social sep-bottom">
          <h2>Network</h2>
          You can find me on
          <ul class="network inline clearfix">
            <li class="first-child"><a class="komodomedia-twitter" href="http://twitter.com/<%= @config[:uid][:twitter] %>" title="Follow me on Twitter" rel="me external"></a></li>
            <li><a class="komodomedia-facebook" href="http://facebook.com/<%= @config[:uid][:facebook] %>" title="Be my friend on Facebook" rel="me external"></a></li>
            <li><a class="komodomedia-linkedin" href="http://linkedin.com/in/<%= @config[:uid][:linkedin] %>" title="Look at my professional profile on LinkedIn" rel="me external"></a></li>
            <li class="list-child"><a class="komodomedia-github" href="http://github.com/<%= @config[:uid][:github] %>" title="Check my code" rel="me external"></a></li>
          </ul>
        </div>
        <div class="blog sep-bottom">
          Sometimes I write <a href="http://blog.davidanguita.name" title="David Anguita – Blog">my blog</a>
        </div>
      </aside>

      <article id="skills">
        <h2 class="icon gear sep-bottom">Skills</h2>
        <ul class="formatted">
          <li class="first-child"><strong>Web development</strong></li>
          <li class="nested">Back-end &amp; Front-end</li>
          <li><strong>MVC Frameworks</strong></li>
          <li class="nested"><a href="http://cakephp.org" title="CakePHP">CakePHP</a>, <a href="http://rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a></li>
          <li>Full-stack development</li>
          <li>Agile methodologies</li>
          <li>Sysadmin</li>
          <li class="last-child">Tech consulting</li>
        </ul>
      </article>

      <article id="likes">
        <h2 class="icon favorites sep-bottom">Likes</h2>
        <ul class="tags">
          <li class="first-child">PHP</li>
          <li>Ruby</li>
          <li>Mac OS X</li>
          <li>vim</li>
          <li>HTML5</li>
          <li>Spotify</li>
          <li>Twitter</li>
          <li>git</li>
          <li>GNU/Linux</li>
          <li>CakePHP</li>
          <li>cron</li>
          <li>Python</li>
          <li>MooTools</li>
          <li>Rails</li>
          <li>nginx</li>
          <li>Xbox 360</li>
          <li>REST</li>
          <li>Japan</li>
          <li>NoSQL</li>
          <li>zsh</li>
          <li>github</li>
          <li>profiling</li>
          <li>UX</li>
          <li>MySQL</li>
          <li>jQuery</li>
          <li>127.0.0.1</li>
          <li class="highlighted">Soraya</li>
          <li>iPhone</li>
          <li class="last-child">VirtualBox</li>
        </ul>
      </article>
