---
title: software developer
---
      <article id="about">
        <h3>I'm <strong>software developer</strong> and full time geek. Mostly working with Ruby on Rails and CakePHP. <em>Lead developer</em> at <a href="http://aticoestudio.com" title="Ático, estudio gráfico S.L." class="org" rel="external">aticoestudio.com</a></h3>
      </article>

      <aside id="sidebar">
        <div id="avatar" class="border-radius sep-bottom">
          <figure>
          <img class="photo" src="<%= @config[:assets_url] %>/images/danguita.jpg" alt="<%= @config[:author] %>" />
          </figure>
        </div>
        <div class="social sep-bottom">
          <h2>Network</h2>
          You can find me on
          <ul class="network inline clearfix">
            <li class="first-child"><a class="komodomedia-twitter" href="http://twitter.com/<%= @config[:uid][:twitter] %>" title="Follow me on Twitter" rel="me external"></a></li>
            <li><a class="komodomedia-facebook" href="http://facebook.com/<%= @config[:uid][:facebook] %>" title="Be my friend on Facebook" rel="me external"></a></li>
            <li><a class="komodomedia-linkedin" href="http://linkedin.com/in/<%= @config[:uid][:linkedin] %>" title="Look at my professional profile on LinkedIn" rel="me external"></a></li>
            <li class="list-child"><a class="komodomedia-github" href="http://github.com/<%= @config[:uid][:github] %>" title="Check my code" rel="me external"></a></li>
          </ul>
        </div>
      </aside>

      <article id="skills">
        <h2 class="icon gear sep-bottom">Skills</h2>
        <ul class="formatted">
          <li class="first-child"><strong>Full-stack web development</strong></li>
          <li class="nested">Happy <a href="http://rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a> &amp; <a href="http://cakephp.org" title="CakePHP">CakePHP</a> coder</li>
          <li class="nested">Living on the <em>Back-end</em> + <em>Front-end</em></li>
          <li>Agile</li>
          <li>TDD, BDD evangelist</li>
          <li>Productivity obsessive</li>
          <li class="last-child">Sysadmin</li>
        </ul>
      </article>

      <article id="likes">
        <h2 class="icon favorites sep-bottom">Tags</h2>
        <ul class="tags">
          <% %w(vim Ruby PHP OSX HTML5 tmux Twitter git GNU/Linux CakePHP cron Python TDD Rails nginx Xbox REST Japan NoSQL Gems zsh Soraya github Agile UX MySQL jQuery 127.0.0.1 iPhone VirtualBox).each do |tag| %>
          <li><%= tag %></li>
          <% end %>
        </ul>
      </article>
