.button {
  background: transparent;
  border: $base-border;
  border-radius: 3px;
  color: $color-blue-grey--light;
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 8px 24px;
  text-transform: uppercase;
  transition: all .1s linear;

  &--small {
    font-size: 10px;
    padding: 5px 10px;
  }

  &:hover {
    border-color: $color-blue-grey--dark;
    color: $color-blue-grey--dark;
  }
}

@include mq-large {
  .button {
    font-size: 16px;

    &--small {
      font-size: 14px;
      padding: 5px 10px;
    }
  }
}
