%footer.footer
  .container
    .footer__credits
      .credits__author
        %strong David Anguita
        @
        = Time.now

    .footer__about
      .credits__links
        &nbsp;
        - data.settings.services.each do |service_name, service_link|
          = link_to service_name, service_link, rel: 'me'
          &nbsp;
