= partial :easter

%meta{charset: "utf-8"}

%title= page_title

-# Meta
%meta{name: "description", content: page_description}
%meta{name: "keywords", content: page_keywords}
%meta{name: "author", content: page_author}
%meta{name: "generator", content: "Middleman #{Middleman::VERSION}"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

-# Twitter Card
%meta{name: "twitter:card", content: "summary"}
%meta{name: "twitter:site", content: data.settings.contact.twitter}
%meta{name: "twitter:author", content: data.settings.contact.twitter}
%meta{name: "twitter:title", content: I18n.t('site.author')}
%meta{name: "twitter:description", content: I18n.t('site.description')}

-# Icons
%link{href: "/assets/images/apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}
%link{href: "/assets/images/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}
%link{href: "/assets/images/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}
%link{href: "/assets/images/apple-touch-icon.png", rel: "apple-touch-icon"}
%link{href: "/favicon.png", rel: "shortcut icon"}

-# Stylesheets
= stylesheet_link_tag "application"
