@import "compass/css3";

$default-border-radius       : 4px;
$default-box-shadow-color    : #888;
$default-box-shadow-h-offset : 0px;
$default-box-shadow-v-offset : 2px;
$default-box-shadow-blur     : 8px;
$default-transition-duration : 0.1s;
$default-text-shadow-color   : #fff;
