/*
 * davidanguita.name by David Anguita
 * layout based on Less Framework 3 by Joni Korpi - http://lessframework.com
 * */

@import "base";

/* Resets */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,
img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,figure,figcaption,hgroup,footer,header,nav,section {
  margin: 0;
  padding: 0;
  border: 0;
}
article,aside,figure,figure img,figcaption,hgroup,
footer,header,nav,section {
  display: block;
}
a img {
  border: 0;
}
figure {
  position: relative;
}
figure img {
  width: 100%;
}
ol,ul {
  list-style: none
}
/* Clear Floated Elements */
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* Typography presets */
.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}
.huge,h1 {
  font-weight: normal;
  font-size: 1.8em;
  letter-spacing: -1px;
}
.large,h2 {
  font-size: 1.5em;
  color: #999;
  padding-top: 5px;
}
.big,h3 {
  font-size: 1.1em;
  font-weight: normal;
}
h4 {
  font-size: .9em;
  font-weight: normal;
}
.normal,body {
  font: 16px/24px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
.small {
  font-size: 13px;
  line-height: 18px;
}
h1 span {
  color: #21A6F3;
}
/* hyperlinks */
a {
  color: #21A6F3;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #21A6F3;
  text-decoration: underline;
}
a,ul li {
  @include single-transition(none);
}
/* lists */
ul.inline {
  list-style-type: none;
}
ul.inline li {
  display: inline;
}
ul.list-style {
  list-style-type: disc;
  list-style-position: inside;
  padding-top: 10px;
}
ul.formatted li {
  padding: 5px 0;
}
ul li.nested {
  padding: 0 0 10px 10px;
  font-size: .8em;
}
/* attributes */
.hidden {
  display: none;
}
.sep-top {
  margin-top: 20px;
}
.sep-bottom {
  margin-bottom: 20px;
}
.center-align {
  text-align: center!important;
}
.left-align {
  text-align: left!important;
  padding-left: 10px;
}
.right-align {
  text-align: right!important;
}
.big-font {
  font-size: 1.5em!important;
}
.borderless {
  border: none!important;
}
.underlined {
  text-decoration: underline;
}
.strong {
  font-weight: bold;
}
.right-float {
  float: right;
}
.left-float {
  float: right;
}
.active {
  color: #bc0000;
}
/* tables */
.table-style {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
p {
  padding: 5px 0;
}
/* border-radius */
.border-radius-small {
  @include border-radius;
}
.border-radius {
  @include border-radius(8px);
}
.border-radius-top {
  @include border-top-radius(8px);
}
.border-radius-top-small {
  @include border-top-radius;
}
.border-radius-top-left {
  @include border-top-left-radius(8px);
}
.border-radius-top-left-small {
  @include border-top-left-radius;
}
.border-radius-bottom-left {
  @include border-bottom-left-radius(8px);
}
.border-radius-bottom-left-small {
  @include border-bottom-left-radius;
}
.border-radius-top-right {
  @include border-bottom-left-radius(8px);
}
.border-radius-bottom {
  @include border-bottom-radius(8px);
}
.border-radius-top-left-none {
  @include border-top-left-radius(0);
}
/* tags */
ul.tags li {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  padding: 6px;
  background-color: #ddd;
  border-radius: 4px;
  color: #444;
}
ul.tags li.last-child {
  margin-right: 0;
}
ul.tags li.highlighted:hover {
  @include single-box-shadow(red, 0px, 1px, 2px);
}
/* icons */
.icon {
  padding-left: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: -5px center;
  height: 1%;
}
.icon.gear {
  background-image: url(../images/icons/token/Gear.png);
}
.icon.favorites {
  background-image: url(../images/icons/token/Favorites.png);
}
.icon.rss {
  background-image: url(../images/icons/token/RSS.png);
}
.icon.twitter {
  background-image: url(../images/icons/token/Twitter.png);
}
.icon.bookmarks {
  background-image: url(../images/icons/token/Bookmarks.png);
}
.icon.e-mail {
  background-image: url(../images/icons/token/E-Mail.png);
}
.icon.power {
  background-image: url(../images/icons/token/Power.png);
}
/* base style */
body {
  background-color: #f3f1f4;
  color: #555;
  background-image: url(../images/bgBody.jpg);
  background-repeat: repeat-x;
  background-position: top center;
}
header {
  height: 60px;
  line-height: 60px;
  @include single-text-shadow(#000, 0px, 0px, 1px);
}
header a,header a:hover {
  color: #fff;
}
#content {
  text-shadow: 0px 0px 1px #fff;
}
#contact {
  padding: 20px 0 10px;
  background-color: #fff;
  margin: 10px 0 20px;
  font-size: .9em;
}
#contact ul.tags li {
  background: #eee;
}
#contact ul.tags li strong {
  width: 50px;
  display: block;
  float: left;
  text-align: right;
  padding-right: 10px;
}
#contact ul.tags li a {
  float: left;
}
#phone figure {
  max-width: 396px;
  margin: 20px auto 0;
}
#phone .tel span {
  display: none;
}
#activity {
  padding: 20px 0;
  font-size: .9em;
  background-color: #fff;
}
#activity a:hover {
  text-decoration: underline;
}
#activity ul li {
  padding: 5px 0;
}
#activity,#contact {
  @include single-box-shadow(#ccc, 0px, 0px, 5px);
}
footer {
  padding: 30px 0 10px;
  font-size: .7em;
  clear: both;
}
footer ul.tags li {
  padding: 2px 6px;
}
#avatar {
  margin-bottom: 20px;
}
#avatar img {
  border: 4px solid #2d2d2d;
}
ul.tags li,#avatar img {
  @include border-radius;
  @include single-box-shadow(#666, 0px, 1px, 2px);
}
#about {
  margin-bottom: 30px;
}
::selection {
  background: rgb(255,255,158);
}
img::selection {
  background: transparent;
}
::-moz-selection {
  background: rgb(255,255,158);
}
img::-moz-selection {
  background: transparent;
}
/* Default 8-column layout
60 px columns,24 px gutters,60 px margins,768 px total
---------------------------------------------------------
1 2 3 4 5 6 7 8
60px 144px 228px 312px 396px 480px 564px 648px */
body {
  padding: 0 60px;
  width: 648px;
  margin: 0 auto;
}
section {
  clear: both;
}
#content {
  padding-top: 30px;
}
#content #sidebar {
  width: 144px;
  margin-left: 24px;
  float: right;
  margin-right: 0;
  font-size: .8em;
}
#content #about {
  width: auto;
}
#content #skills {
  width: 480px;
  float: left;
}
#content #skills ul li.nested {
  display: none;
}
#content #skills ul li {
  width: 220px;
  float: left;
  margin-right: 20px;
}
#content #likes {
  width: 480px;
  float: left;
  margin-top: 30px;
  font-size: .9em;
}
#contact h2 {
  float: left;
  width: 144px;
  margin-left: 24px;
  margin-bottom: 20px;
}
#contact ul.tags {
  width: 396px;
  float: right;
  margin-left: 24px;
  padding-right: 20px;
}
#contact ul.tags li {
  float: none;
  margin-right: 0;
  width: auto;
}
#activity article {
  margin-left: 24px;
  width: 564px;
  float: none;
  margin-top: 20px;
}
#activity article.first-child {
  margin-top: 0;
}
/* 13-column layout
60 px columns,24 px gutters,72 px margins,1212 px total (extra space for scrollbars)
---------------------------------------------------------------------------------------
1 2 3 4 5 6 7 8 9 10 11 12 13
60px 144px 228px 312px 396px 480px 564px 648px 732px 816px 900px 984px 1068px */
@media only screen and (min-width:1212px) {body {
    padding: 0 72px;
    width: 1068px;
  }
  #content #sidebar {
    width: 144px;
    margin-left: 24px;
    float: right;
    margin-right: 0;
    font-size: .8em;
  }
  #content #skills {
    width: 312px;
    float: left;
  }
  #content #skills ul li.nested {
    display: block;
  }
  #content #skills ul li {
    width: auto;
    float: none;
    margin-right: 0;
  }
  #content #likes {
    width: 564px;
    float: left;
    margin-top: 0;
    margin-left: 24px;
  }
  #content #likes ul.tags li {
    padding: 10px 15px;
  }
  #wrapper #skills {
    width: 266px;
  }
  #wrapper #likes {
    width: 550px;
  }
  #contact ul.tags {
    width: 816px;
    float: right;
    margin-left: 24px;
    padding-right: 20px;
  }
  #contact ul.tags li {
    float: left;
    margin-right: 10px;
    width: auto;
  }
  #activity article {
    margin-left: 24px;
    width: 312px;
    float: left;
    margin-top: 0;
  }

}
/* 5-column layout
60 px columns,24 px gutters,42 px margins,480 px total
---------------------------------------------------------
1 2 3 4 5
60px 144px 228px 312px 396px */
@media only screen and (max-width:767px) and (min-width:480px) {body {
    padding: 0 42px;
    width: 396px;
    font-size: .9em;
    -webkit-text-size-adjust: 100%;
  }
  header {
    font-size: .9em;
  }
  #content #sidebar {
    width: 144px;
    margin-left: 24px;
    float: right;
    margin-right: 0;
    font-size: .9em;
  }
  #content #skills {
    width: 228px;
    float: left;
  }
  #content #skills ul li.nested {
    display: block;
  }
  #content #skills ul li {
    width: auto;
    float: none;
    margin-right: 0;
  }
  #content #likes {
    width: auto;
    float: left;
    margin-top: 30px;
  }
  #content #likes ul li {
    width: 110px;
    text-align: center;
  }
  #contact ul.tags {
    width: 312px;
    float: right;
    margin-left: 24px;
    padding-right: 20px;
  }
  #contact ul.tags li {
    float: none;
    margin-right: 10px;
    width: auto;
  }
  #activity article {
    margin-left: 24px;
    width: 312px;
    float: none;
    margin-top: 20px;
  }

}
/* 3-column layout
60 px columns,24 px gutters,46 px margins,320 px total
---------------------------------------------------------
1 2 3
60px 144px 228px */
@media only screen and (max-width:479px) {body {
    padding: 0 46px;
    width: 228px;
    -webkit-text-size-adjust: 100%;
    font-size: .9em;
  }
  header h1 span {
    display: none;
  }
  #content #sidebar {
    width: auto;
    margin-left: 0;
    float: none;
    margin-right: 0;
    font-size: .9em;
    text-align: center;
  }
  #content #skills {
    width: auto;
    float: none;
    margin-top: 30px;
  }
  #content #skills ul li.nested {
    display: block;
  }
  #content #skills ul li {
    width: auto;
    float: none;
    margin-right: 0;
  }
  #content #likes {
    display: none;
  }
  #content #likes {
    width: auto;
    float: none;
    margin-top: 30px;
  }
  #content #likes ul li {
    width: 90px;
    text-align: center;
  }
  #contact ul.tags {
    width: 180px;
    float: right;
    margin-left: 24px;
    padding-right: 20px;
  }
  #contact ul.tags li {
    float: none;
    margin-right: 10px;
    width: auto;
  }
  #activity article {
    margin-left: 24px;
    width: 144px;
    float: none;
    margin-top: 20px;
  }
  #activity {
    display: none;
  }

}
