@charset "utf-8";

body {
  &.home {
    text-align: center;
  }

  &.page {
    h1 {
      text-align: center;
      margin-left: -20px;
      margin-bottom: 20px;
    }

    #content {
      padding-top: 0 !important;
    }

    .contact {
      margin-top: 20px;
      font-size: 1.3em;
    }
  }
}

#content {
  padding-top: 20px;
  padding-bottom: 20px;
}

#david-anguita {
  font-weight: 200;
  font-size: 2.5em;
  letter-spacing: -1px;
  text-transform: uppercase;

  span:first-child {
    color: #009d8a;
  }

  span:last-child {
    font-weight: 400;
  }
}

header {
  padding: 20px 0 0;

  h2 {
    text-align: center;

    a {
      text-decoration: none;
      font-weight: 200;
      letter-spacing: -0.5px;
      text-transform: uppercase;

      span:last-child {
        font-weight: 400;
        color: #34495e;
      }
    }
  }

  .nav {
    margin: 20px 0 10px;
    text-align: center;

    .btn {
      margin-bottom: 10px;
      padding: 5px 10px;
    }
  }
}

footer {
  text-align: center;

  a {
    font-weight: normal;
  }
}

.top {
  text-align: center;

  .palette {
    padding: 10px 0;
  }

  a {
    color: #ccc;
    text-decoration: none;

    &:hover {
      color: #009d8a;
    }
  }

  .locale-select {
    .active {
      color: #009d8a;
    }

    a {
      padding: 0 4px;
    }
  }
}

.home {
  .introduction {
    margin-top: 20px;

    .introducing {
      margin-top: 20px;

      h2 {
        font-size: 1.3em;
        font-weight: normal;
        line-height: 1em;
      }
    }
  }

  .tiles {
    margin: 40px 0 30px;

    .tile {
      margin-bottom: 10px;

      h3 {
        font-size: 1.4em;
        line-height: 1em;
        padding-bottom: 10px;
      }
    }
  }

  .contact {
    margin: 40px 0 30px;

    .btn {
      margin-bottom: 10px;
    }
  }
}

section.notes {
  margin-top: 40px;
  text-align: center;

  .btn {
    margin-bottom: 10px;
  }
}

section.pair-with-me {
  margin-top: 40px;
  text-align: center;
}

section.hiring-options {
  margin-top: 40px;
}

section.project-selection {
  .project-sheet {
    padding: 10px 0;
    display: block;
    text-align: center;
    overflow: hidden;
  }
}

section.single-project {
  a.back {
    text-decoration: none;
  }

  .project-nav {
    text-align: center;
  }
}
