@charset "utf-8";

body {
  &.home {
    text-align: center;
  }

  &.page {
    h1 {
      text-align: center;
      margin-left: -20px;
      margin-bottom: 20px;
    }

    #content {
      padding-top: 0 !important;
    }

    .contact {
      margin-top: 20px;
      font-size: 1.3em;
    }
  }
}

#content {
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  padding: 20px 0 0;


  .title {
    text-align: center;
  }

  .nav {
    margin: 20px 0 10px;
    text-align: center;

    .btn {
      margin-bottom: 10px;
    }
  }
}

footer {
  text-align: center;

  a {
    font-weight: normal;
  }
}

.top {
  text-align: center;

  .palette {
    padding: 10px 0;
  }

  a {
    color: #ccc;
    text-decoration: none;

    &:hover {
      color: #2ecc71;
      text-decoration: underline;
    }
  }

  .locale-select {
    .active {
      color: #2ecc71;
    }

    a {
      padding: 0 4px;
    }
  }
}

.home {
  .introduction {
    margin-top: 20px;

    .introducing {
      margin-top: 20px;

      h2 {
        font-size: 1.3em;
        font-weight: normal;
        line-height: 1em;
      }
    }
  }

  .tiles {
    margin: 40px 0 30px;

    .tile {
      margin-bottom: 10px;

      h3 {
        font-size: 1.4em;
        line-height: 1em;
        padding-bottom: 10px;
      }
    }
  }

  .contact {
    margin: 40px 0 30px;

    .btn {
      margin-bottom: 10px;
    }
  }
}

section.notes {
  margin-top: 40px;
  text-align: center;

  .btn {
    margin-bottom: 10px;
  }
}

section.hiring-options {
  margin-top: 40px;
}
